<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New SEC School Data</title>
</head>
<body>
  <h1>SEC Bowl Game Data</h1>
  <ul>
    <% newSec.forEach(team => { %> 
      <li>
        <%= team.school %> is in the <%= team.division %> division, and they 
        <%= team.bowlWin ? 'won their bowl game!' : "lost their bowl game or didn't make a bowl game." %>  
      </li>
    <% }) %> 
  </ul>
</body>
</html>